Django==1.9
django-admin==1.1.1
PyMySQL==0.8.0
celery==4.0.2
Pillow==4.0.0
amqp==2.1.4
appdirs==1.4.0
redis==2.10.5
# 用户授权, 基於token認證的方式
PyJWT==1.6.1
gunicorn==19.7.1
# 将 Django 数据或者 python data 序列化为 json|raw 数据
django-simple-serializer
# 用来处理用户上传的头像图片，生成指定尺寸的缩略图（thumbnail）。
# django-imagekit需要用pillow来处理图像，因此也需要安装pillow。
django-imagekit==4.0.1
django-redis==4.4.2 # 目前只用来存储token