{% extends 'base.html' %}

{% block content %}
    <div>
        {#        <form method="post" enctype="multipart/form-data">#}
        {#            {% csrf_token %}#}
        {#            {{ upload_media_form.as_p }}#}
        {#            <button type="submit">upload</button>#}
        {#        </form>#}
        {#    <form class="form" action="{% url 'video:upload' article.pk %}" method="post" enctype="multipart/form-data">#}
        {#            {% csrf_token %}#}
        {#            <input name="uploadfile" type="file">#}
        {#            <input type="submit" value="附件上传">#}
        {#        </form>#}
        <form method="post" action="{% url 'video:new_video' %} " enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                <label for="id_video">Video:</label>
                <input id="id_video" name="video" type="file"/>
                <input name="describe" type="text" value="describe"/>
                <input name="title" type="text" value="title"/>
            </p>
            <button type="submit">upload</button>
        </form>
    </div>
{% endblock %}